// bg
$yellowbg: #FFD050;
$dark: #232536;
$DarkGrey: #4C4C4C;
$Mediumgrey: #6D6E76;


// color
$Lightyellow :#FBF6EA;
$Lavender: #F4F0F8;
$while: #FFFFFF;
$purple: #592EA9;
$grey: #6D6E76;
$darkBlue: #282938;
$green: #0ff;
$transp: transparent;

